<div class="bg-white flex flex-col justify-between">
  <!-- メインカード -->
  <div class="flex justify-center mt-6">
    <div class="bg-white w-11/12 max-w-md p-6 rounded-xl shadow-md">
      <!-- パスワード変更ステップ -->
      <h2 class="text-center text-lg font-bold mb-4">パスワード変更</h2>
      <div class="flex justify-around items-center text-sm mb-6">
        <div class="text-gray-400">メールアドレス入力</div>
        <div class="text-cyan-500 font-bold border-b-2 border-cyan-500 pb-1">新パスワード入力</div>
        <div class="text-gray-400">完了</div>
      </div>
      <!-- メッセージ -->
      <p class="text-center font-semibold mb-6">新しいパスワードを<br>
        入力してください</p>
      <!-- フォーム -->
      <%= form_with model: @user, url: password_reset_path, method: :patch, local: true do |form| %>
        <!-- 新パスワード -->
        <div class="mb-6">
          <label class="block font-semibold mb-1">新パスワード</label>
          <p class="text-xs text-gray-600 mb-2">
            以下3つの条件を満たしたパスワードを入力してください：<br>
            ・10桁以上のパスワード<br>
            ・英大文字、小文字それぞれ1文字以上<br>
            ・数字を1つ以上
          </p>
          <%= form.password_field :password, required: true, placeholder: "入力してください", class: "w-full border border-gray-300 rounded px-3 py-2 shadow" %>
        </div>
        <!-- パスワード確認 -->
        <div class="mb-6">
          <label class="block font-semibold mb-1">確認用パスワード</label>
          <p class="text-xs text-gray-600 mb-2">
            上で入力したパスワードと同じものを入力してください
          </p>
          <%= form.password_field :password_confirmation, required: true, placeholder: "入力してください", class: "w-full border border-gray-300 rounded px-3 py-2 shadow" %>
        </div>
        <!-- 変更ボタン -->
        <div class="flex justify-center">
          <%= form.submit "変更する", class: "bg-cyan-200 text-black font-bold py-2 px-10 rounded-full shadow hover:bg-cyan-300" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
