<div class="bg-white flex flex-col justify-between">
  <!-- メインカード -->
  <div class="flex justify-center mt-6">
    <div class="bg-white w-11/12 max-w-md p-6 rounded-xl shadow-md">
      <h2 class="text-center text-lg font-bold mb-2">会員登録</h2>
      <p class="text-center text-base font-semibold mt-4 mb-3">
        会員登録が完了しました！<br>
        早速アプリを使ってみましょう！
      </p>
      <!-- ボタン -->
      <div class="space-y-3 flex text-center">
        <!-- トップ画面へ -->
        <%= link_to 'トップ画面へ', medicines_path,
            class: "w-full bg-cyan-200 text-black font-bold py-2 rounded-full shadow hover:bg-cyan-300" %>
      </div>
    </div>
  </div>
</div>
