<div class="h-1/5 w-full bg-cyan-200 p-4 flex items-center justify-between">
  <%= link_to image_tag("top_logo.png", class: "h-11"), medicines_path %>
  <%# ハンバーガーメニューは準備中 %>
  <%# <div class="space-y-1">
    <span class="block w-6 h-0.5 bg-gray-600"></span>
    <span class="block w-6 h-0.5 bg-gray-600"></span>
    <span class="block w-6 h-0.5 bg-gray-600"></span>
  </div> %>
</div>