<div class="h-1/5 w-full bg-cyan-200 p-4 flex items-center justify-between">
  <h1 class="text-white font-bold text-lg"><%= link_to 'おくすりベル', root_path %></h1>
  <div class="space-y-1">
    <span class="block w-6 h-0.5 bg-gray-600"></span>
    <span class="block w-6 h-0.5 bg-gray-600"></span>
    <span class="block w-6 h-0.5 bg-gray-600"></span>
  </div>
</div>