<div class="h-1/5 w-full bg-cyan-200 p-4 flex items-center justify-between">
  <%= link_to image_tag("top_logo.png", class: "h-11"), medicines_path %>
  <a href="https://lin.ee/QMEtUn1"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
  <%# ハンバーガーメニューは準備中 %>
  <% if current_user.present? %>
    <%= link_to "ログアウト", logout_path,
      data: { turbo_method: :delete, confirm: "ログアウトしますか？" },
      class: "p-2 bg-green-500 text-white font-bold rounded-md text-center shadow hover:bg-green-700 active:bg-green-300 text-black" %>
  <% end %>
</div>